ansible==2.0.0.2
appdirs==1.4.0
appnope==0.1.0
Babel==1.3
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2016.2.28
cffi==1.1.2
cliff==1.13.0
cliff-tablib==1.1
cmd2==0.6.8
cryptography==0.9.3
cycler==0.10.0
dask==0.8.1
debtcollector==0.5.0
decorator==4.0.9
Django==1.7.4
docutils==0.12
ecdsa==0.13
enum34==1.0.4
Flask==0.10.1
functools32==3.2.3.post2
gnureadline==6.3.3
google-api-python-client==1.4.1
graphviz==0.4.5
httplib2==0.9.1
idna==2.0
ipaddress==1.0.14
ipython==4.1.2
ipython-genutils==0.1.0
iso8601==0.1.10
itsdangerous==0.24
Jinja2==2.8
jsonpatch==1.11
jsonpointer==1.9
jsonschema==2.5.1
MarkupSafe==0.23
matplotlib==1.5.1
mechanize==0.2.5
mercurial==3.4.1
MiniSom==0.1
monotonic==0.2
mpmath==0.19
msgpack-python==0.4.6
netaddr==0.7.15
netifaces==0.10.4
networkx==1.11
numpy==1.10.4
oauth2client==1.4.12
os-client-config==1.4.0
oslo.config==2.0.0
oslo.i18n==2.1.0
oslo.serialization==1.7.0
oslo.utils==2.0.0
pandas==0.17.1
paramiko==1.16.0
passlib==1.6.2
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.6
Pillow==3.1.1
pluggy==0.3.0
powerline-status==2.3
prettytable==0.7.2
ptyprocess==0.5.1
py==1.4.30
pyasn1==0.1.8
pyasn1-modules==0.0.6
pycparser==2.14
pycrypto==2.6.1
pygame==1.9.2a0
Pygments==2.0.2
pylab==0.1.3
PyOpenGL==3.1.0
pyOpenSSL==0.15.1
pyparsing==2.1.0
pytest==2.6.4
python-cinderclient==1.3.1
python-dateutil==2.5.0
python-glanceclient==0.19.0
python-keystoneclient==1.6.0
python-neutronclient==2.6.0
python-novaclient==2.26.0
python-openstackclient==1.5.0
pytz==2015.7
PyYAML==3.11
pyzmq==15.2.0
redis==2.10.3
requests==2.7.0
rsa==3.1.4
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.0
seaborn==0.7.0
simplegeneric==0.8.1
simplejson==3.7.3
singledispatch==3.4.0.3
six==1.10.0
Sphinx==1.2.3
stevedore==1.9.0
sympy==1.0
tablib==0.10.0
toolz==0.7.4
tornado==4.3
tox==2.1.1
traitlets==4.1.0
uritemplate==0.6
vboxapi==1.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
warlock==1.1.0
Werkzeug==0.10.4
wheel==0.24.0
wrapt==1.10.5
